{{define "specific"}}{{$cs := .CoinShortcut}}{{$bb := .Info.Blockbook}}{{$be := .Info.Backend}}{{$blocks := .Blocks}}
<div class="invoice-page clearfix">
    {{template "search_form"}}
    {{- if $bb.InitialSync -}}
    <h3 class="h1-main h1-main_error">Application is now in initial synchronization and does not provide any data.</h3>
    {{- end -}}
    {{- if not $bb.SyncMode -}}
    <h3 class="h1-main h1-main_warning">Synchronization with backend is disabled, the state of index is not up to date.</h3>
    {{- end -}}
    {{- if .InternalExplorer -}}
    <h1 class="h1-main">BlackHat Block Explorer</h1>
    {{- end -}}
    <div class="invoice-table card">
        <div class="card-header">
            <h6 class="card-title">Block index</h6>
        </div>
        <div class="card-body">
            <div class="card-body__inner">
                <div class="row double">
                    <div class="col-md-6">
                        <div class="table__oh">
                            <table class="table data-table">
                                <tbody>
                                <tr>
                                    <td style="width: 180px;">Last Indexed Block</td>
                                    <td class="data ellipsis">
                                        {{- if .InternalExplorer -}}
                                        <a href="/block/{{$bb.BestHeight}}">{{$bb.BestHeight}}</a>
                                        {{else}}
                                        {{$bb.BestHeight}}
                                        {{- end -}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Best Block Hash</td>
                                    <td class="data ellipsis">
                                        {{$be.Bestblockhash}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Last Block Update</td>
                                    <td class="data ellipsis">
                                        {{formatTime $bb.LastBlockTime}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Protocol Version</td>
                                    <td class="data ellipsis">
                                        {{$be.ProtocolVersion}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Masternode Count</td>
                                    <td class="data ellipsis">
                                        {{$be.MasternodeCount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Next Superblock</td>
                                    <td class="data ellipsis">
                                        {{$be.NextSuperBlock}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table__oh">
                            <table class="table data-table">
                                <tbody>
                                <tr>
                                    <td style="width: 180px;">Difficulty</td>
                                    <td class="data ellipsis">{{$be.Difficulty}}</td>
                                </tr>
                                <tr>
                                    <td>Mempool Size</td>
                                    <td class="data ellipsis"><a href="/mempool">{{$bb.MempoolSize}}</a></td>
                                </tr>
                                <tr>
                                    <td>Last Mempool Update</td>
                                    <td class="data ellipsis">{{formatTime $bb.LastMempoolTime}}</td>
                                </tr>
                                <tr>
                                    <td>Total BLKC Supply</td>
                                    <td class="data ellipsis">{{formatSupply $be.MoneySupply}}&nbsp;{{$cs}}</td>
                                </tr>
                                <tr>
                                    <td>Transparent Supply</td>
                                    <td class="data ellipsis">
                                        <span class="data">{{formatSupply $be.TransparentSupply}}&nbsp;{{$cs}}</span>&nbsp;
                                        <em>({{getPercent $be.TransparentSupply $be.MoneySupply}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shield Supply</td>
                                    <td class="data ellipsis">
                                        <span class="data">{{formatSupply $be.ShieldSupply}}&nbsp;{{$cs}}</span>&nbsp;
                                        <em>({{getPercent $be.ShieldSupply $be.MoneySupply}})
                                    </td>
                                </tr>

                                <tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice-table card">
        <div class="card-header">
            <h6 class="card-title">Last blocks
                <a href="/blocks" class="all">see all</a>
            </h6>
        </div>
        <div class="card-body">
            <div class="card-body__inner">
                <div class="table__oh">
                    <table class="table table-striped data-table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 10%;">Height</th>
                            <th style="width: 48%;">Hash</th>
                            <th>Timestamp</th>
                            <th class="text-right" title="number of Transactions in block" style="width: 10%;">
                                TXs
                            </th>
                            <th class="text-right" title="size in Bytes" style="width: 10%;">Size</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{- range $b := $blocks.Blocks -}}
                        <tr>
                            <td><a href="/block/{{$b.Height}}">{{$b.Height}}</a></td>
                            <td class="ellipsis">
                                {{$b.Hash}}
                            </td>
                            <td class="ellipsis">{{formatUnixTime $b.Time}}</td>
                            <td class="text-right">{{$b.Txs}}</td>
                            <td class="text-right">{{$b.Size}}</td>
                        </tr>
                        {{- end -}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}