{{define "specific"}}{{$cs := .CoinShortcut}}{{$bb := .Info.Blockbook}}{{$be := .Info.Backend}}
<div class="invoice-page clearfix">
{{template "search_form"}}
    <h1 class="h1-main">Application Status</h1>
    {{- if $bb.InitialSync -}}
    <h1 class="h1-main h1-main_error">Application is now in initial synchronization and does not provide any data.</h1>
    {{- end -}}
    {{- if not $bb.SyncMode -}}
    <h1 class="h1-main h1-main_error">Synchronization with backend is disabled, the state of index is not up to date</h1>
    {{- end -}}
    <div class="invoice-table card">
        <div class="card-body">
            <div class="card-body__inner">
                <div class="row double">
                    <div class="col-md-6">
                        <h6 class="card-title">Blockbook</h6>
                        <div class="table__oh">
                            <table class="table data-table">
                                <tbody>
                                <tr>
                                    <td>Synchronized</td>
                                    <td class="data {{if not $bb.InSync}}text-danger{{else}}text-success{{end}}">{{$bb.InSync}}</td>
                                </tr>
                                <tr>
                                    <td>Last Block</td>
                                    <td class="data">{{if .InternalExplorer}}<a href="/block/{{$bb.BestHeight}}">{{$bb.BestHeight}}</a>{{else}}{{$bb.BestHeight}}{{end}}</td>
                                </tr>
                                <tr>
                                    <td>{{formatTime $bb.LastBlockTime}}</td>
                                    <td class="data">Wed, 28 Apr 2021 07:05:32 UTC</td>
                                </tr>
                                <tr>
                                    <td>Mempool in Sync</td>
                                    <td class="data {{if not $bb.InSyncMempool}}text-danger{{else}}text-success{{end}}">{{$bb.InSyncMempool}}</td>
                                </tr>
                                <tr>
                                    <td>Last Mempool Update</td>
                                    <td class="data">{{formatTime $bb.LastMempoolTime}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6 class="card-title">Backend</h6>
                        <div class="table__oh">
                            <table class="table data-table">
                                <tbody>
                                <tr>
                                    <td style="width: 30%;">Chain</td>
                                    <td class="data">{{$be.Chain}}</td>
                                </tr>
                                <tr>
                                    <td>Version</td>
                                    <td class="data">{{$be.Version}}</td>
                                </tr>
                                <tr>
                                    <td>Subversion</td>
                                    <td class="data">{{$be.Subversion}}</td>
                                </tr>
                                <tr>
                                    <td>Protocol Version</td>
                                    <td class="data">{{$be.ProtocolVersion}}</td>
                                </tr>
                                <tr>
                                    <td>Last Block</td>
                                    <td class="data">{{$be.Blocks}}</td>
                                </tr>
                                {{- if $be.Timeoffset -}}
                                <tr>
                                    <td>Timeoffset</td>
                                    <td class="data">{{$be.Timeoffset}}</td>
                                </tr>
                                {{- end -}}
                                {{- if $be.Warnings -}}
                                <tr>
                                    <td>Warnings</td>
                                    <td class="data text-warning">{{$be.Warnings}}</td>
                                </tr>
                                {{- end -}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}